.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
  
  .login-form {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }